
/* Navbar */

  .ui.borderless.inverted.menu {
    background-color: #2f2f2f;
    border-radius: 4px;
      flex-wrap: wrap;

  }
  
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .dropdown.icon {
    float: unset;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .dropdown.icon:before {
    content: "\f0d7";
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
    position: static;
    width: 100%;
    background-color: unset;
    border: none;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item {
    background-color: rgb(47, 47, 47);
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu {
    margin-top: 6px;
  }
  
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu .header,
  .ui.mobile.only.grid .ui.vertical.menu .ui.dropdown.item .menu .item {
    color: rgba(255, 255, 255, 0.9) !important;
  }
  
  /* Carousel */
  .slide .ui.inverted.vertical.segment {
    padding-top: 16rem;
    padding-bottom: 4rem;
    height: 525px;
  }
  
  .slide .ui.text.container {
    max-width: 70%;
  }
  
  .slick-dotted.slick-slider {
    margin-bottom: 0;
  }
  
  .slick-prev.slick-arrow {
    padding-left: 8rem;
    padding-right: calc(8rem + 20px);
    display: inline-block;
    height: 100%;
    z-index: 32;
  }
  
  .slick-next.slick-arrow {
    padding-left: 8rem;
    padding-right: calc(8rem + 20px);
    display: inline-block;
    height: 100%;
    z-index: 32;
  }
  
  @media only screen and (max-width: 767px) {
    .slick-prev.slick-arrow {
      padding-left: 4rem;
      padding-right: calc(4rem + 20px);
    }
  
    .slick-next.slick-arrow {
      padding-left: 4rem;
      padding-right: calc(4rem + 20px);
    }
  }
  
  .slick-prev
{
    left: 0px;
}

.slick-next
{
    right: 0px;
}

  .slick-dots {
    bottom: 15px;
  }
  
  .slide .ui.segment h1 {
    font-size: 3rem;
  }
  
  .slide .ui.segment p {
    font-size: 1.5rem;
  }

#slide1 {
  background-color: tan;

}


  #sidebar {
    position: fixed;
    height: 100vh;
    background-color: #f5f5f5;
    padding-top: 68px;
    padding-left: 0;
    padding-right: 0;
  }
  /* Side bar Sub tabs and sub threads */
  #sidebar .ui.menu > a.item {
    padding: 10px 20px;
    line-height: 20px;
    color: #2f2f2f;
    border-radius: 0 !important;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* Side bar main tabs */
  #sidebar .ui.menu > a.item.active {
    background-color: #2f2f2f;
    color: white;
    border: none !important;
  }
  
  /* Hover color for text and background on sidenav */
  #sidebar .ui.menu > a.item:hover {
    background-color: #eee;
    color: #23527c;
  }

  
  #content {
    padding-top: 80px;
    padding-left: 20px;
    padding-right: 15px;
  }
  
  #content h1 {
    font-size: 36px;
  }
  
  #content .ui.dividing.header {
    width: 100%;
  }
  
  .ui.borderless.menu {
    box-shadow: none;
    flex-wrap: wrap;
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  
  .ui.mobile.only.grid .ui.menu .ui.vertical.menu {
    display: none;
  }

  #form-section {
    margin-top: 30px;
  }